[submodule "external/tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	branch = v2.9.7
[submodule "external/gltf-sample-assets"]
	path = external/gltf-sample-assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
    shallow = true
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/slang-rhi"]
	path = external/slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
